*{
    margin:0;
    padding:0;
    font-family: "Raleway";
    box-sizing: border-box;

}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #FFFAF0;
    background-image: url('imgs/back.png'); 
    background-size: cover; /* Ajusta la imagen para cubrir toda la sección */
    background-position: center; 
    background-repeat: no-repeat; 
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: flex-end;
}


nav ul li {
    display: inline-block;
    list-style-type:none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover {
    color:#0000A5
}

.detel {
    margin-left: 8%;
    margin-top: 15%;
}

.detel h1 {
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;

}

span {
    color: orange
}

.detel p{
    color: #555;
    line-height: 22px;
}

.images {
    width: 45% ;
    height: 80%;
    position: absolute;
    bottom:0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom:0;
    transform: translateX(-50%);
    transition: bottom 1s, left, 1s;
}

.images:hover .girl{
    left:45%;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 8%;
    background-color: #FFFAF0;
}

.about-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0px;
}

.about-header h1 {
    font-size: 50px;
    color: #212121;
    padding-right: 100px;
}

.about-content {
    display: flex;
    align-items: flex-start; /* Alinea los elementos al inicio verticalmente */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; /* Centra el contenido horizontalmente */
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px; /* Espacio entre la imagen y el texto */
    margin-top: -50px; /* Ajusta este valor para subir la imagen más arriba */

}

.about-image img {
    max-width: 100%;
    height: 50%;
    border-radius: 8px;
}


.about-text {
    flex: 2; 
    color: #555;
    line-height: 1.6;
}

.project-features {
    padding: 128px 16px;
    background-color: #FFFAF0; 
}

.project-header {
    text-align: center;
    margin-bottom: 64px; 
}

.project-header h1 {
    font-size: 50px;
    color: #212121; 
}

.project-content {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en una fila o columna */
    justify-content: center;
    gap: 20px; /* Espacio entre los elementos */
}

.feature {
    flex: 1;
    max-width: 24%;
    text-align: center;
}

.feature-icon {
    font-size: 48px; 
    color: #000; 
    margin-bottom: 16px;
}

.feature-title {
    font-size: 20px;
    color: #212121;
}

.feature-description {
    font-size: 16px;
    color: #555; 
    line-height: 1.6;
}

.book-header {
    text-align: center;
    margin-bottom: 20px;
}

.book-header h1 {
    width: 100%;
    font-size: 50px;
    color: #212121; 
}

.books {
    width: 100%;
    padding: 50px 8%;
    background-color: #FFFAF0;
    display: flex; /* Cambia a un diseño de fila */
    flex-wrap: wrap; /* Permite que los libros se envuelvan en varias líneas si es necesario */
    justify-content: center; /* Centra los elementos horizontalmente */
    gap: 20px; /* Añade espacio entre los libros */
    flex-direction: column; /* Cambia la dirección del flex a columna */
    align-items: center; /* Centra los elementos horizontalmente */
}

.book-one {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    width: 100%; /* Ajusta el tamaño según sea necesario */
    max-width: 600px; /* Ajusta el tamaño máximo para evitar que sea demasiado ancho */
    margin: 20px; /* Añade espacio alrededor de la tarjeta */
    display: flex;
    flex-direction: column; /* Permite que la imagen y el contenido se apilen verticalmente */
    align-items: center;
}

.book-one:hover {
    transform: translateY(-10px);
}

.book-img {
    width: 50%; 
    height: 40%; 
    border-bottom: 1px solid #e0e0e0; 
}

.book-container {
    text-align: center;
    padding: 20px; 
}

.book-container h3 {
    margin: 0;
    font-size: 24px;
    color: #212121;
}

.book-author {
    color: #777;
    margin: 8px 0;
    font-style: italic;
}

.book-description {
    color: #555;
    line-height: 1.6;
}

.book-link {
    text-decoration: none; 
    color: orange; 
    transition: color 0.3s ease; 
}

footer{
    background-color: #000;
    font-weight: bold;
    text-align: center;
    
}

footer p {
    margin: 0; 
    color: #fff
}

footer a {
    color: #fff; 
    text-decoration: none; 
}

.ffeature-icon {
    color: #fff; 
    font-size: 20px;
    margin-right: 8px; 
}

.svg-icon {
    vertical-align: middle;
    margin-left: 8px; 
}

.footer-svg-icon {
    width: 30px; 
    height: 30px; 
    fill: #fff; 
}
